/*Hide the title in a accessibility and seo friendly way*/
.hiding
{
	position: absolute;
    left: -9999px;
}
/* a component on the page is a block */
.block
{
	margin-top:10px;
}

/*error in the form*/
label.error {
  font-weight: bold;
  color: red;
  padding: 2px 8px;
  margin-top: 2px;
}

/* Search form */
#search_bar_div
{
	padding-top:10px;
	background: none repeat scroll 0 0 #F5F5F5; 
	border-bottom: 1px solid #DDDDDD;
	width:100%;
}

/*footer*/
footer
{	
	background: none repeat scroll 0 0 #F5F5F5;
    border-top: 1px solid #DDDDDD;
    margin-top: 17px;
    padding: 18px 20px;
    text-align: center;	
}
#main_content
{
	margin-top:10px;	
}

/* My Synote */

#my_synote_content a {
	display: block;
	width: 20%;
	float: left;
	text-align: center;
	margin: 2%;
	text-decoration:none;
}

#my_synote_content #mysynote_filter {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}