/*Hide the title in a accessibility and seo friendly way*/
.hiding
{
	position: absolute;
    left: -9999px;
}

/* Search form */
#search_bar_div
{
	padding-top:10px;
	background: none repeat scroll 0 0 whiteSmoke; 
	border-bottom: 1px solid #e5e5e5;
	width:100%;
}

#main_content
{
	margin-top:10px;	
}

/* My Synote */

#my_synote_content a {
	display: block;
	width: 20%;
	float: left;
	text-align: center;
	margin: 2%;
	text-decoration:none;
}

#my_synote_content #mysynote_filter {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}