/*CSS file for nerd in subpreview*/

.nerd-label
{
	margin-right:10px;
	color: white;
	padding:10px;
	font-size: 1.1em;
	
	-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px;
}

.nerd-label-small
{
	color: white;
	padding:0 5px 0 5px;
	-moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -khtml-border-radius: 2px;
    border-radius: 2px;
}

.nerd-entity
{
	margin-right:5px;
	margin-left:5px;
	display:inline-block;
	cursor:pointer;
}

.nerd-disambiguation
{
	text-decoration:underline;
}

.nerd-disambiguation-loading
{
	background: url('../images/spinner.gif') center left no-repeat;
	padding-left:18px;
}

.nerd-entity a
{
	
}

.nerd-line
{
	line-height:3.5em;
}

.nerd-entity-line
{
	line-height:2em;
}

.nerd-entity-line table
{
	width:100%;
}

.nerd-entity-line table td
{
	width:50%;
}

.btn-nerd-approve
{
	margin-right:5px;	
}

/*multiple types are overlapped*/
.nerd-multiple
{
	background-color:black;
	opacity:0.8;
}

.nerd-thing
{
	background-color:red;
	opacity:0.8;
}

.nerd-person
{
	background-color:orange;
	opacity:0.8;	
}

.nerd-organization
{
	background-color:yellow;
	opacity:0.8;
	color:black;
}

.nerd-location
{
	background-color:green;
	opacity:0.8;
}

.nerd-event
{
	background-color:#f08080;
	opacity:0.8;
}

.nerd-product
{
	background-color:#2f4f4f;
	opacity:0.8;
}

.nerd-function
{
	background-color:PowderBlue;
	opacity:0.8;
	color:black;
}

.nerd-time
{
	background-color:Blue;
	opacity:0.8;
	
}

.nerd-amount
{
	background-color:purple;
	opacity:0.8;
}