/* New Player */

@media (min-width: 1200px) /* span-fluid-right + 480px = 1140px*/
{
	.player-fixed-width
	{
		padding: 10px 0;
    	width:480px;
    	float: left;
		margin-left: 30px;
	}
	.row .span-fluid-right {
    	padding:10px 0;
    	float: left;
		margin-left: 30px;
		width: 660px;
	}
	
	.row-fluid .span-synmarks { /*span7*/
   	 	width: 57.182320438000005% !important;
    	*width: 57.129128948638304% !important;
    	float: left;
		margin-left: 30px;
  	}
  	
  	.row-fluid .span-slides{ /*span5*/
	    width: 40.055248616% !important;
	    *width: 40.0020571266383% !important;
	    float: left;
		margin-left: 30px;
	 }
	 #tab_right
	 {
	 	display:none;
	 }
}
@media (min-width: 980px) and (max-width:1199px) /* span-fluid-right + 480px = 920px*/
{
	.player-fixed-width
	{
		padding: 10px 0;
    	width:480px;
    	float: left;
  		margin-left: 20px;
	}
	.row .span-fluid-right {
    	padding:10px 0;
    	float: left;
  		margin-left: 20px;
		width: 440px;
	}
	.row-fluid .span-synmarks, .row-fluid .span-slides { /*span7*/
   	 	width: 99.999999993% !important;
    	*width: 99.9468085036383% !important;
    	float: left;
  		margin-left: 20px;
  	}
}
/* span-fluid-right + 480px = 704px*/

@media (min-width: 768px) and (max-width: 979px)
{
	.player-fixed-width
	{
		padding: 10px 0;
    	width:480px;
    	float: left;
  		margin-left: 20px;
	}
	.row .span-fluid-right {
    	padding:10px 0;
    	float: left;
  		margin-left: 10px;
		width: 234px;
	}
	.row-fluid .span-synmarks,.row-fluid .span-slides{
		width: 99.999999993% !important;
    	*width: 99.9468085036383% !important;
    	float: left;
  		margin-left: 10px;
    }
    
    .span-fluid-right .tab-content .tab-pane {display:none;}
    .span-fluid-right .tab-content .active {display:block;}
}
@media (min-width: 480px) and (max-width: 767px) /* span-fluid-right width auto*/
{
	.player-fixed-width
	{
		display:block;
		padding: 10px 0;
    	width:auto;
    	margin-left:0;
    	float:none;
    	text-align:center;
	}
	.row .span-fluid-right {
    	padding:10px 0;
    	float: none;
		width: auto;
		margin-left:0;
	}
	
	.row-fluid .span-synmarks,.row-fluid .span-slides, .row-fluid .span-transcripts{
		width: 99.999999993% !important;
    	*width: 99.9468085036383% !important;
    	float: none;
		margin-left:0;
    }
    
    .span-fluid-right .tab-content .tab-pane {display:none;}
    .span-fluid-right .tab-content .active {display:block;}
}
