#recording_title_div
{
	font-size:2em;
	font-weight:bold;
	color:#3e3e3e;	
}

#recording_owner_div
{
	font-size:1.2em;
	display:inline;
	padding-left:1em;
}

#created_time_div
{
	padding-left:10px;
	display:inline;
}

#created_time_span
{
	color: #97a500;
}

#player_settings_div .wijmo-wijmenu
{
	z-index:999; /*in case other buttons overlap on the menu*/
}

#control_pace_div
{
	display:inline-block;
}

#control_time_div
{
	display:inline-block;
	/*margin-left:10px;*/
}

#slides_div
{
	height:128px;
	/*background-color:#aaa; 
    border: 1px solid #333;*/
    z-index:9999;
    /*padding:4px;*/
    margin:0 !important;
}
/* Control bar of presentation slides*/
#slides_bar_div
{
	border: 1px solid #CCC;
	border-width: 1px 0;
	background: url("../images/skin/shadow.jpg") repeat-x scroll center bottom #FFFFFF;
	-moz-box-shadow: 0 4px 5px #444;
	-webkit-box-shadow: 0 4px 5px #444;
	box-shadow: 0 4px 5px #444;
	height:25px;
	cursor:point;
	overflow:hidden;
}

#slides_count_span
{
	float:right;
	height:25px;
	margin:0 5px;
}

.slides_btn
{
	margin:0px 5px;
	height:25px;
	padding:0 0.5em;
	border:none;
	background-color:#f6f6f6;
	cursor:pointer;
}
#slides_collapse_expand_btn
{
	float:right;
	
}

#slides_play_btn
{
	background-image: url("../images/player/slide_play_16.png");
	background-repeat:no-repeat;
	background-position:center;
}

#slides_pause_btn
{
	background-image: url("../images/player/slide_pause_16.png");
	background-repeat:no-repeat;
	background-position:center;
}

#slides_stop_btn
{
	background-image: url("../images/player/slide_stop_16.png");
	background-repeat:no-repeat;
	background-position:center;
}

#slides_rewind_btn
{
	background-image: url("../images/player/slide_rewind_16.png");
	background-repeat:no-repeat;
	background-position:center;
}

#slides_forward_btn
{
	background-image: url("../images/player/slide_forward_16.png");
	background-repeat:no-repeat;
	background-position:center;
}

#slides_add_btn
{
	background-image: url("../images/player/slide_add_16.png");
	background-repeat:no-repeat;
	background-position:center;
}

#slides_edit_btn
{
	background-image: url("../images/player/slide_edit_16.png");
	background-repeat:no-repeat;
	background-position:center;
}

#slides_delete_btn
{
	background-image: url("../images/player/slide_delete_16.png");
	background-repeat:no-repeat;
	background-position:center;
}

.slides_div_collapse
{
	background-image: url("../images/skin/collapse_16.gif");
	background-repeat:no-repeat;
	background-position:center;
}

.slides_div_expand
{
	background-image: url("../images/skin/expand_16.gif");
	background-repeat:no-repeat;
	background-position:center;
}
#slides_div ul li
{
	display:inline-block;
	cursor:pointer;
	padding:2px 2px;
}

.slide_thumb_img
{
	
}

.slide_hover,.slide_selected
{
	-moz-box-shadow: 0 0 2px 2px yellow;
	-webkit-box-shadow: 0 0 2px 2px yellow;
	box-shadow: 0 0 2px 2px yellow;
}
#add_synmark_img,#export_synmark_img
{
	cursor:pointer;
	float:right;
	margin:0 4px;
}

#synmarks_inner_div
{
	border: 1px solid #CCCCCC;
    padding: 5px;
    position: relative;
    -moz-border-radius:5px;
	-webkit-border-radius: 5px;
	border-radius:5px;
}

#synmark_list_div
{
	overflow:scroll;
}

.single_synmark_div
{
	margin:2px;
	padding:5px;
}

/*when mouseover a synmark*/
.synmark_highlight
{
	background-color:#d1e1fa;
	background-image:url(../images/skin/play_32.png);
	background-repeat:no-repeat;
	background-position:center;
	cursor:pointer;
}

/*when a synmark is selected and playing*/
.synmark_selected
{
	background-color:#d1e1fa;
	cursor:pointer;
}

.synmark_title
{
	color:#1259c7;
	font-size:1.1em;
	font-weight:bold;
}
.synmark_owner
{
	font-size:1em;
	font-style:italic;
	padding-left:5px;
}
.synmark_time
{
	color:#97a500;
	font-size:1em;
}
.synmark_note
{
	font-size:1em;
	margin:0.2em !important;
}

.synmark_title_span
{
	display:inline-block;
}
.synmark_tags_div
{
	margin:2px 0px !important;
	padding-left:2px;
	display:block;
	text-align:right;
}

.synmark_tag_title_span
{
	font-size:1em;
	padding-right:5px;
	display:inline-block;
	padding:3px;
}

.synmark_tags_div .tag
{
	display:inline-block;
	padding:2px;
	border: 1px solid #A5D24A;
	background: #CDE69C;
	color: #638421;
	font-size:1em;
	-moz-border-radius:2px;
	-webkit-border-radius: 2px;
	border-radius:2px;
	float:right;
}

.synmark_mine
{
	/*empty*/
}

.synmark_other
{
	/*empty*/
}

#transcripts_inner_div
{
	border: 1px solid #CCCCCC;
    padding: 5px;
    position: relative;
    -moz-border-radius:5px;
	-webkit-border-radius: 5px;
	border-radius:5px;
}

#transcripts_content_div
{
	width:100%;
	overflow:scroll;
	min-height:100px;
}

.transcript_line
{
	border: 1px solid #FFFFFF;
   	-moz-border-radius:3px;
	-webkit-border-radius: 3px;
	border-radius:3px;
    cursor: pointer;
    font-size: 1em;
    margin-right: 2px;
    vertical-align:top;
}

.transcript_line_time
{
	color:#97a500;
	font-size:1em;
	float: left;
    margin-left: 5px;
    display:inline;
}

.transcript_line_speaker
{
	font-style:italic;
	display:inline;
	float left;
	padding:0 4px;	
}

.transcript_line_content
{
	clear:both;
	margin-left:5px;
}

.transcript_menu_img
{
	cursor:pointer;
	float:right;
	margin:0 4px;
}
/*when mouseover a transcript div*/
.transcript_highlight
{
	background-color:#d1e1fa !important;
	background-image:url(../images/skin/play_16.png);
	background-repeat:no-repeat;
	background-position:center;
	cursor:pointer;
}
/*when a transcript is selected and playing*/
.transcript_selected
{
	background-color:#d1e1fa !important;
	cursor:pointer;
}
/*when a transcript has just been added*/
.transcript_edited
{
	background-color:#c8ffbf;
}
/*when a transcript has something wrong*/
.transcript_error
{
	background-color:#ffdfdf;
}

