#cnt a:link,#cnt a:visited,#cnt a:hover {
	text-decoration: none;
	color: #006dba;
	font-weight: normal;
}

#cnt {
	clear: both;
	/*max-width:80em;*/
	display: block;
	margin-top: 1em;
}

#ssb {
	background-color: #F0F7F9;
	border-top: 1px solid #6B90DD;
}

#ssb p {
	text-align: right;
	padding: 0.2em;
	margin: 0.1em 0px;
	white-space: nowrap;
}

#res {
	margin: 0px 16px;
	padding-right: 1em;
	max-width: 80em;
}

#cnt h1 {
	letter-spacing: -0.1em;
	font-family: Georgia, serif;
	color: #006dba;
	font-size: 2.18em;
	margin-bottom: 0.2em;
}

#med {
	font-size: 1.45em;
	font-weight: normal;
	padding: 0px;
}

/*suggest query*/
#sug {
	
}

#cnt h2 {
	padding: 0px;
	font-weight: normal;
	font-size: 1.45em;
	margin: 0.5em 0 0.1em 0;
}

#cnt h2 a:link,#cnt h2 a:visited,#cnt h2 a:hover {
	color: rgb(54, 95, 145);
}

#cnt h3 {
	padding: 0px;
	color: #006dba;
	text-decoration: underline;
	font-weight: normal;
	font-size: 1.18em;
	margin: 0.2em 0 0 0;
}

spell {
	
}

ol {
	display: block;
	list-style-type: decimal;
}

ol li {
	list-style: square;
	display: list-item;
	margin-top: 1em;
}

/*no result*/
#nor {
	clear: both;
	display: block;
	margin-top: 1em;
	margin-left: 2em;
	font-size: 1.64em;
}

/*more results*/
.mr {
	margin: 1em 0px 0px;
	padding-left: 20px;
	cursor: pointer;
	text-decoration: underline;
	background: url(../images/skin/icon_plus.png) center left no-repeat;
}

/*synmark and transcript results*/
.synr,.trar {
	margin: 0.5em 0 0 1em;
	font-size: 1.18em;
}

/*transcript results text*/
.transtx {
	margin-top: 0.3em;
}

/*remove the play image's border*/
.transtx img {
	border-style: none;
}

/*No search result for synmark or transcript*/
.synno,.trano {
	margin: 0.5em 0 0 1em;
	font-size: 1.45em;
	font-style: italic;
}

/*synmark tags*/
.stags {
	padding: 0px;
	margin: 0px;
	font-style: italic;
}

/*highlight search result with yellow background*/
#synwr b,#trawr b {
	background: yellow;
}

/*synmark titles and transcript titles*/
#synwr #synti,#trawr #trati {
	margin: 0.5em 0 0 1em;
	font-size: 1.18em;
}

/*css for paginate tag*/
#cnt .paging {
	margin: 3em 0 2em 0;
	text-align: center;
}

#cnt .paging a {
	border: 1px solid rgb(212, 212, 212);
	display: inline;
	margin: 0px 0.38em 0em 0px;
	padding: 0.3em 0.7em;
	text-align: center;
}

#cnt .paging span {
	border: 1px solid rgb(0, 60, 108);
	display: inline;
	margin: 0px 0.38em 0em 0px;
	padding: 0.3em 0.7em;
	text-align: center;
	background: rgb(216, 227, 240);
}